#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#root h1 {
  font-size: 22px;
}

.main {
  display: flex;
  gap: 8pc;
}

.board__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cell.highlight {
  background-color: rgb(159, 159, 148);
}

.sidebar {
  max-height: 320px;
  overflow: auto;
  margin-top: 68px;
}

li {
  list-style-type: none;
}
